    <tr>
     <td align="center"><input type="text" name="term[]" size="12" value="{COND_TEXT}"></td>
     <td align="center"><font face="verdana, arial, helvetica" size=2>in</font></td>
     <td align="center"><select name="location[]" size="1">
        <option value="a"{COND_LOC_SEL_A}>everywhere</option>
        <option value="tt"{COND_LOC_SEL_TT}>trail title</option>
		<option value="td"{COND_LOC_SEL_TD}>trail description</option>
		<option value="lt"{COND_LOC_SEL_LT}>link title</option>
		<option value="ld"{COND_LOC_SEL_LD}>link description</option>
		<option value="lu"{COND_LOC_SEL_LU}>link url</option>
      </select></td>
     <td align="center">{REMOVE_CONDITION}</td>
    </tr>