        <table border=0 cellpadding=2 cellspacing=0 width=420 bgcolor="#dcdcdc">
         <tr> 
          <td>
		   <font face="verdana, arial, helvetica" size=2><b>&nbsp;Matching categories</b></font>
		  </td>
		  <td align="right">
		   <font size="1" color="#000000" face="verdana, arial, helvetica"><b>{CAT_START}</b> to <b>{CAT_END}</b> of <b>{CAT_COUNT}</b> categories</font></td>
         </tr>
        </table>
        <table cellpadding=1 cellspacing=0 border=0 width=100% bgcolor="#a4a4a4" >
         <tr> 
          <td>  
	  	   <table cellpadding=5 cellspacing=0 border=0 width="100%" bgcolor="#ffffff">
            <tr align=left valign=top> 
             <td valign="top" align="left">
			  <font face="verdana, arial, helvetica" size="2">{CATEGORIES}<p></font>
			 </td>
			</tr>
		   </table>
		  {LIMITBOX} 
         </td>
        </tr>
       </table>