  <tr> 
   <td width=420 valign="top">
   {CATEGORIES}
    <table border=0 cellpadding=0 cellspacing=0 width=100%>
	 <tr>
	  <td>
	   <img src="/img/pixel.gif" height="8"><br>
	  </td>
	 </tr>
	</table>
	{TRAILS}
	<table border=0 cellpadding=0 cellspacing=0 width=100%>
	 <tr>
	  <td>
	   <img src="/img/pixel.gif" height="8"><br>
	  </td>
	 </tr>
	</table>
   </td>
   <td>
    <img src="/img/pixel.gif" border=0 width="6" height="1">
   </td>
   <td width=175 valign="top">
   {IWANTTO}
   {EXPERTS}
    <table border=0 cellpadding=0 cellspacing=0 width=100%>
	 <tr bgcolor="#C1E054">
	  <td>
	   <table border=0 cellpadding=2 cellspacing=0>
	    <tr>
		 <td>
		  <font face="verdana, arial, helvetica" size=1><b>&nbsp;SEARCH TIPS</b></font><img src="/img/pixel.gif" height="15" border="0" hspace="0" vspace="0">
		 </td>
		</tr>
	   </table>
	  </td>
	 </tr>
	 <tr>
	  <td valign="top">
	   <img src="/img/line.gif" width="176" height="2"><br>
	  </td>
	 </tr>
	</table>
	<table border=0 cellpadding=3 cellspacing=0 width=100% bgcolor="white">
	<!-----start----->
	 <tr>
	  <td width=100%>
	   <font size=1 face="verdana, arial, helvetica">
	   <b>&#183;</b> Try to be as specific as possible.<p>
	   <b>&#183;</b> Use boolean operators like AND, OR (or + and |). <p>
	   <b>&#183;</b> Narrow your search by going to the specific category to search in and choose "in this category" in the dropdown box.
	   <!--b>&#183;</b> Read our search-tutorial to get to know how the results are prioritized.--><br><br>
	  </td>
	 </tr>
	</table>
   </td>
  </tr>
  <tr>
   <td>
    <img src="/img/pixel.gif" height="8"><br>
   </td>
  </tr>
 </td>
</tr>
<tr>
 <td>
  <img src="/img/pixel.gif" height="8"><br>
 </td>
</tr>
