         <table border=0 cellpadding=2 cellspacing=0 width=420 bgcolor="#dcdcdc"><!---#dcdcdc #FFCC00 #BBEEFF #C1E054-->
         <tr> 
          <td>
		   <font face="verdana, arial, helvetica" size=2><b>&nbsp;Your query did not return any results.</b></font>
		  </td>
         </tr>
        </table>
        <table cellpadding=1 cellspacing=0 border=0 width=100% bgcolor="#a4a4a4" >
         <tr> 
          <td>
		 	  
	  	  <table cellpadding=5 cellspacing=0 height=400 border=0 width="100%" bgcolor=#ffffff>
           <tr align=left valign=top> 
 
             <td valign="top" align="left">
			<font face="verdana, arial, helvetica" size="2">
<li>Make sure all words are spelled correctly.
<li>Try using fewer words.
<li>Try using more general keywords.
<li>Try different keywords.
<li>Remove quotation marks.
<p>




            <p></font>
			 </td>
           </tr>
          </table>
          </td>
         </tr>
        </table>