         <table border=0 cellpadding=2 cellspacing=0 width=420 bgcolor="#dcdcdc"><!---#dcdcdc #FFCC00 #BBEEFF #C1E054-->
         <tr> 
          <td>
		   <font face="verdana, arial, helvetica" size=2><b>&nbsp;Sorry, no results were found.</b></font>
		  </td>
         </tr>
        </table>
        <table cellpadding=1 cellspacing=0 border=0 width=100% bgcolor="#a4a4a4" >
         <tr> 
          <td>
		 	  
	  	  <table cellpadding=5 cellspacing=0 height=400 border=0 width="100%" bgcolor=#ffffff>
           <tr align=left valign=top> 
 
             <td valign="top" align="left">
			<font face="verdana, arial, helvetica" size="2">
			We suggest to:
			<li>make sure all words are spelled correctly.
			<li>try using fewer words.
			<li>try different keywords.
			<li>try using more general keywords.
			<li>remove quotation marks.
			<p>
			Would you like to create a trail on this topic?<br>
			Go to the category where you want your trail to be listed and click on "create a trail".<p>
			Get a free account if you're not a member yet.
            <p></font>
			 </td>
           </tr>
          </table>
          </td>
         </tr>
        </table>