	  <a name="trails"></a>
       <table border=0 cellpadding=2 cellspacing=0 width=420 bgcolor="#dcdcdc">
        <tr> 
         <td>
		  <font face="verdana, arial, helvetica" size=2><b>&nbsp;Matching trails</b></font> 
		 </td>
		 <td align="right">
		  <font size="1" color="#000000" face="verdana, arial, helvetica"><b>{TRAIL_START}</b> to <b>{TRAIL_END}</b> of <b>{TRAIL_COUNT}</b> trails</font>
		 </td> 
		</tr>
	   </table>
	   <table cellpadding=1 cellspacing=0 border=0 width=100% bgcolor="#a4a4a4">
        <tr> 
         <td>
		  <table border=0 cellpadding=3 cellspacing=0 width=100% bgcolor="#ffffff" height=500>
           <tr> 
            <td width=100% valign="top"> 
			 <font size="2" face="verdana, arial, helvetica">{TRAILS}</font>
			</td>
		   </tr>
		   <tr> 
            <td width=100% valign="bottom">
			 <a href="#"><img src="/img/top_arrow.gif" border=0 align="right"></a><br>
			</td>
           </tr>
          </table>
          {LIMITBOX}		  
         </td>
        </tr>
       </table>
