<!-- BEGIN trailstd -->
<font size="2" color="#000000" face="verdana, arial, helvetica"><b><A target="{TARGET}" href="{TRAILURL}" onClick="openIt('{TARGET}');"><img src="/img/popup.gif" width="13" height="9" alt="" border="0">{TRAILTITLE}</a></b></font><br>
<font size="1" color="#000000" face="verdana, arial, helvetica"> 
by <a href="{OWNERURL}">{OWNERNAME}</a>, {ADDDATE}, in <a href="{NODEURL}">{NODENAME}</a></font><br>
<font size="2" color="#000000" face="verdana, arial, helvetica"> 
{DESCRIPTION}
</font>
<p>
<!-- END trailstd-->
