<a name="trails"></a>
        <table border=0 cellpadding=2 cellspacing=0 width=420 bgcolor="#dcdcdc">
         <tr> 
          <td>
		   <font face="verdana, arial, helvetica" size=2><b>&nbsp;{THISNODE} trails</b></font>
		  </td>
		 </tr></table>

<table cellpadding=1 cellspacing=0 border=0 width=100% bgcolor="#a4a4a4">
         <tr> 
          <td>
		  <table border=0 cellpadding=3 cellspacing=0 width=100% bgcolor="white" height=500>
           <tr> 
            <td width=100% valign="top">
           {ANNOUNCEBOX}
			 <font size="2" face="verdana, arial, helvetica">{TRAIL}</font></td></tr><tr> 
            <td width=100% valign="bottom" align="right">
			 {ADDSLOT}<a href="#top"><img src="/img/top_arrow.gif" border=0></a><br>
			</td>
           </tr>
          </table>
		  
{LIMITBOX}
		  
		  
          </td>
         </tr>
        </table>