			 <tr>
              <td align="left" valign="top" colspan=2>
              <form action="{ACTION}" METHOD="POST"><input type="hidden" name="libaction" value="directlogin">
              <font face="verdana, arial, helvetica" size=1>
              Username:<br>
              <input type="text" name="username" size="15"><br>
              Password:<br>
              <input type="password" name="password" size="15"><br>
              <input type="submit" name="login" value="Log in"></font>
              </td>
             </tr></form>
