			    <!-- BEGIN link -->
				  <a name="{LINKID}"></a>
              <font size="2" face="verdana, arial, helvetica"> 
                    <b><A href="{LINKURL}" title="{LINKURL_FULL}">{LINKTITLE}</a></b><nobr>{BUTTONS}</nobr>
					     </font><br>
                    <font size="1" color="#000000" face="verdana, arial, helvetica"> 
                    {ISNEW} by <a href="{LOWNERURL}" title="go to {LOWNER}'s mypage">{LOWNER}</a>, {LDATE}</font><br>
                    <font size="1" color="#000000" face="verdana, arial, helvetica"> 
                    {LDESCRIPTION}
                    </font>
					<!-- END link -->