			    <!-- BEGIN link -->
				  <a name="{LINKID}"></a>
              <font size="2" face="verdana, arial, helvetica"> 
                    <b><A href="{LINKURL}" title="{LINKURL_FULL}" onClick="keep_on_top = true; setTimeout('focus()', 1000); return true;">{LINKTITLE}</a></b></font>
                    <br>
					<font size="1" color="#000000" face="verdana, arial, helvetica"> 
                    {ISNEW} by <a href="{LOWNERURL}" title="go to {LOWNER}'s mypage">{LOWNER}</a>, {LDATE}</font><br>
                    <font size="1" color="#000000" face="verdana, arial, helvetica"> 
                    {LDESCRIPTION}
                    <br><img src="/img/pixel.gif" hight=4 width=5><br>
					[{BUTTONS}]