<form action="{ACTION}" method="POST" target="_self">
		 <font face="Verdana, Arial, Helvetica, sans-serif" size=2>
         You can send a message to the creator of this trail using this form.
         {ERRORSTRING}
         <p>
		 <b>Subject</b><br>
		 <input type="text" name="field_subject" size=20 value="">{WARN_SUBJECT}<p>
		 <b>Message</b><br>
		 <textarea name="field_message" wrap="virtual" rows="4" cols=21></textarea><br><br></font>
		 <center>
		  <input type="submit" name="send" value="Send message">
		 </center>
		 </font>
		</form><p> 