<form action="{ACTION}" method="POST" target="_self">
<font face="Verdana, Arial, Helvetica, sans-serif" size=2>{FRIENDLIST}
<!-- Enter Email addresses of people you want to recommend this trail to:<br>(one address per line)<br>
<textarea cols="21" rows="4" name="field_email_addresses" wrap="off"></textarea><p>
{UNLOGGED_FIELDS}<p>  
Message:<br>
<textarea name="field_message" wrap="virtual" rows="4" cols=21></textarea><br><br>
</font> -->
<center>
<input type="submit" name="send" value="Recommend this trail">
</center>
</font>
</form>				  
        
