			    <!-- BEGIN link -->
									 </td></tr>
				     <tr bgcolor="LightCyan"><td>
				
				  <a name="{LINKID}"></a>
              <font size="2" face="verdana, arial, helvetica"> 
                    <b><A href="{LINKURL}" title="{LINKURL}">{LINKTITLE}</a></b>{BUTTONS}
					     </font><br>
                    <font size="1" color="#000000" face="verdana, arial, helvetica"> 
                    Sponsored by <a href="{LOWNERURL}">{LOWNER}</a></font><br>
                    <font size="1" color="#000000" face="verdana, arial, helvetica"> 
                    {LDESCRIPTION}
                    <br><br></font>
					
					 </td>
                      </tr>
					  
					  
                <tr><td> 
					
					<!-- END link -->