<html>
<head>
<script language="JavaScript" type="text/javascript">
<!--
 if (opener){
  opener.name="ltrmain233";
 } 
//-->
</script>
<BASE TARGET="ltrmain233">
<title>linktrail</title>
<LINK REL=stylesheet HREF="/styles/trail_1.css" TYPE="text/css">
</head>
<body bgcolor="white" marginwidth=0 marginheight=0 bottommargin="0" rightmargin="0" leftmargin="0" topmargin="0" link="mediumblue" alink="mediumblue" vlink="purple">
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" height="101%">
 <tr>
  <td valign="top">
   <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr bgcolor="#003366">
	 <td>
	  <table border=0 cellpadding=0 cellspacing=0 width=100%>
	   <tr bgcolor="#003366">
	    <td>
		 <a name="top"></a>
		 <a href="/"><img src="/img/titel_smal.gif" border="0" hspace="2" vspace="2"></a>
		</td>
	   </tr>
	   <tr>
	    <td valign="top">
		 <img src="/img/line2.gif" width="100%" height="2"><br>
		</td>
	   </tr>
	  </table>
	 </td>
	</tr>
	<tr>
	 <td>
	  <table border=0 width="100%" cellpadding=2 cellspacing=0>
	   <tr>
	    <td>
         {TEDITBUTTON}
         <font size="2" face="verdana, arial, helvetica"><b>{TRAILNAME}</b> </font><br>
         <font size="1" color="#000000" face="verdana, arial, helvetica">created by <a href="{TOWNERURL}" target="ltrmain233">{TOWNER}</a> on {TADATE} in <a href="{NODEURL}" class="in">{NODE}</a></font><br><br>
        </td>
	   </tr>
	  </table>
	 </td>
	</tr>
	{ADDFORM}
   </table>
  </td>
 </tr>
 <tr>
  <td valign="bottom">
   <table border=0 cellpadding=5 cellspacing=0 width=100%>
    <tr bgcolor="#003366">
	 <td>
	  &nbsp;<font size="-2" face="verdana, arial,helvetica" color="#FFFFFF"><b>&copy; 2000 link<font color="#8EA203">trail</font> Inc.</b></font>
	 </td>
	</tr>
   </table>
  </td>
 </tr>
</table>
<!-- /td></tr></table -->
</body>
</html>