 <tr> 
   <td width=100% valign="top">

<table border=0 cellpadding=2 cellspacing=0 width=420 bgcolor="#dcdcdc">
         <tr> 
          <td align="left">
		   <font face="verdana, arial, helvetica" size=2><b>&nbsp;{TITLE}</font>
		  </td>
         </tr>
        </table>
		
        <table cellpadding=1 cellspacing=0 border=0 width=420 bgcolor="#a4a4a4">
         <tr> 
          <td>
		  
	  	  <table cellpadding=5 cellspacing=0 border=0 width="100%" height=500 bgcolor=#ffffff height="210">
           <tr align=left valign=top> 
            <td>
<font size="2" color="#000000" face="verdana, arial, helvetica">
{CONTENT}
</font>



			   </td>
           </tr>
          </table>
          </td>
         </tr>
        </table>

	  <table border=0 cellpadding=0 cellspacing=0 width=100%>     
	   <tr> 
	    <td>
		 <img src="/img/pixel.gif" height="8"><br>
		</td>
	   </tr>
	  </table>
	  </td>
	  <td>
	   <img src="/img/pixel.gif" border=0 width="6" height="1">
	  </td>
	  <td width=175 valign="top">
	   		<table border=0 cellpadding=0 cellspacing=0 width=100%>
 		
 		
	    </table>
	   <!--table border=0 cellpadding=0 cellspacing=0 width=100%-->
       {SIDEBAR}
       </table>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <img src="/img/pixel.gif" height="8"><br>
	  </td>
	 </tr>      
