		      <td valign="middle"><img src="/img/sys_mess.gif" border=0 height=16 width=16 hspace=2></td>
		      <td valign="middle"><font size="1" face="verdana, arial, helvetica">linktrail</font></td>
			  <td valign="middle"><font size="1" face="verdana, arial, helvetica"><a href="{TRAILURL}">{TRAILNAME}</a> {TEXT}</font></td>
			  <td valign="middle"><font size="1" face="verdana, arial, helvetica">{DATE}</font></td>
			  <td valign="middle" nowrap><font size="1" face="verdana, arial, helvetica">[<a href="{READURL}" target="_self">read</a> | <a href="{DELURL}">delete</a>]</font></td>
