		<form action="{ACTION}" method="POST">
        <table border=0 cellpadding=2 cellspacing=0 width=420 bgcolor="#dcdcdc">
         <tr> 
          <td>
		   <font face="verdana, arial, helvetica" size=2><b>&nbsp;Forgot your password?</b></font>
		  </td>
         </tr>
        </table>
        <table cellpadding=1 cellspacing=0 border=0 width=100% bgcolor="#a4a4a4">
         <tr valign="top"> 
          <td>
	  	   <table cellpadding=5 cellspacing=0 border=0 width="100%" height=500 bgcolor="#ffffff">
		    <tr valign="top">
			 <td>
			  <table border="0" cellpadding="3" cellspacing="0" width="100%">
			   <tr>
			    <td colspan=2>
				 <font face="verdana,sans-serif" size="2">Please enter your linktrail user name or your Email address below. We will send you an Email with your password to the address you indicated to us upon your registration with linktrail:</font><br><br>
				</td>
			   </tr>
			   <tr>
			    <td align="left" valign="middle" width="140">
				 <font face="verdana,sans-serif" size="2"><b>Username:</b></font>
				</td>
				<td>
				 <input type="text" name="field_username" size=20>
				</td>
			   </tr>
			   <tr>
			    <td align="left" valign="middle" width="140">
				 <font face="verdana,sans-serif" size="2"><i> OR </i></font>
				</td>
				<td>&nbsp;</td>
			   </tr>
			   <tr>
			    <td width="140" valign="middle">
				 <font face="verdana,sans-serif" size="2"><b>Email address:</b></font>
				</td>
				<td>
				 <input type="text" name="field_email" size=20>
				</td>
			   </tr>
			   <tr>
			    <td width="140">&nbsp;</td>
				<td align="left">&nbsp;<br><input type=submit value="Submit"></td>
			   </tr>
			  </table>
			 </td>
			</tr>
		   </form>
		   </table>
		  </td>
		 </tr>
		</table>
