        <table border=0 cellpadding=2 cellspacing=0 width=420 bgcolor="#dcdcdc">
         <tr> 
          <td>
		   <font face="verdana, arial, helvetica" size=2><b>&nbsp;Member login</b></font>
		  </td>
         </tr>
        </table>
        <table cellpadding=1 cellspacing=0 border=0 width=100% bgcolor="#a4a4a4">
         <tr valign="top"> 
          <td>
	  	   <table cellpadding=5 cellspacing=0 border=0 width="100%" height=500 bgcolor="#ffffff">
		    <tr valign="top">
			 <td>
			  <font face="verdana,sans-serif" size="2">We will send you an Email to the address you indicated upon registration. You will find instructions on how to log in there.<p>Do not hesitate to <a href="mailto:support@linktrail.com">contact us</a> for further assistance.<p>
			 </td>
			</tr>
		   </table>
		  </td>
		 </tr>
		</table>
