<tr> 
 <td width=420 valign="top">
  <table border=0 cellpadding=2 cellspacing=0 width=100% bgcolor="#dcdcdc">
   <tr> 
    <td align="left">
	 <font face="verdana, arial, helvetica" size=2><b>&nbsp;Welcome to linktrail.</b></font>
	</td>
   </tr>
  </table>
  <table cellpadding=1 cellspacing=0 border=0 width=420 bgcolor="#a4a4a4">
   <tr>
    <td>
	 <table cellpadding=5 cellspacing=0 border=0 width="100%" bgcolor="#ffffff" height="450">
      <tr>
	   <td width="100%" align="left" valign="top">
	    <font size="2" color="#000000" face="verdana, arial, helvetica">
		Hello {USERNAME},<br>
		We thank you for registering with us and hope that you will find our services useful. To learn about linktrail we suggest you to <a href="{TOURURL}">take a tour</a>. You can now visit your newly created <a href="{MYPAGEURL}">Mypage</a> or directly <a href="{SETTINGSURL}">input your account settings</a>.
        </font>
	   </td>
	  </tr>
	 </table>
	</td>
   </tr>
  </table>
  <table border=0 cellpadding=0 cellspacing=0 width=100%>
   <tr>
    <td>
	 <img src="/img/pixel.gif" height="8"><br>
	</td>
   </tr>
  </table>
 </td>
 <td>
  <img src="/img/pixel.gif" border=0 width="6" height="1">
 </td>
 <td width=175 valign="top">
  <table border=0 cellpadding=0 cellspacing=0 width=100%>
  </table>
  {IWANTTO}
  <table border=0 cellpadding=0 cellspacing=0 width=100%>
   <tr bgcolor="#C1E054">
    <td>
	 <table border=0 cellpadding=2 cellspacing=0 width="100%">
	  <tr>
	   <td valign=top>
	    <font face="verdana, arial, helvetica" size=1><b>&nbsp;YOUR PRIVACY</b></font>
	   </td>
	   <td align="right">
	    <!--- <font face="verdana, arial, helvetica" size=1><a href="user-awood">more...</a></font><br> --->
	   </td>
	  </tr>
	 </table>
	</td>
   </tr>
   <tr>
    <td valign="top">
	 <img src="/img/line.gif" width="176" height="2"><br>
	</td>
   </tr>
  </table>
  <table border=0 cellpadding=3 cellspacing=0 width=100% bgcolor="white">
  <!-----start----->
   <tr>
      <td><font size=-2 face="verdana, arial, helvetica">We do not ask you for anything other than a user name, a password and an Email address upon your free registration. We will never sell, rent, loan or give away any personally identifiable information.

 <br><br>
			  &#183;<a href="/Help/Privacy">Read our Privacy policy.</a><br>
	</td>
   </tr>
  </table><br><p>
  <table border=0 cellpadding=0 cellspacing=0 width=100%>
   <tr bgcolor="#C1E054">
    <td>
	 <table border=0 cellpadding=2 cellspacing=0 width="100%">
	  <tr>
	   <td valign=top>
	    <font face="verdana, arial, helvetica" size=1><b>&nbsp;ABOUT LINKTRAIL</b></font>
	   </td>
	   <td align="right">
	    <!--- <font face="verdana, arial, helvetica" size=1><a href="user-awood">more...</a></font><br> --->
	   </td>
	  </tr>
	 </table>
	</td>
   </tr>
   <tr>
    <td valign="top">
	 <img src="/img/line.gif" width="100%" height="2"><br>
	</td>
   </tr>
  </table>
  <table border=0 cellpadding=3 cellspacing=0 width=100% bgcolor="white">
  <!-----start----->
   <tr>
   <td> 
			
			<font size=-2 face="verdana, arial, helvetica">
			Linktrail Inc. is a start-up company based in Zurich, Switzerland. Find out more about our company, our philosphy, the team behind your destination for online research - and please consult our current job openings.
			<br><br>
			  &#183;<a href="/About/">more about linktrail Inc.</a><br>
	</td>
   </tr>
  </table>
 </td>
</tr>
<tr>
 <td>
  <img src="/img/pixel.gif" height="8"><br>
 </td>
</tr>