<table border=0 cellpadding=2 cellspacing=0 width=100% bgcolor="#dcdcdc">
 <tr> 
  <td align="left">
   <font face="verdana, arial, helvetica" size=2><b>&nbsp;Not a member yet?</b></font>
  </td>
 </tr>
</table>
<table cellpadding=1 cellspacing=0 border=0 width=100% bgcolor="#a4a4a4">
 <tr> 
  <td>
   <table cellpadding=5 cellspacing=0 border=0 width="100%" bgcolor=#ffffff height="210">
    <tr align=left valign=top> 
     <td>
	  <font size="2" color="#000000" face="verdana, arial, helvetica"><a href="{JOINURL}"><b>Join now!</b></a><br><br>
	  A free linktrail membership enables you to:<p>
	  </font>
	  <table cellpadding="2" cellspacing="0" border="0">
	   <tr>
	    <td valign="top">&#8226;</td>
		<td>
		 <font size="2" face="verdana, arial, helvetica">Find the most relevant resources on any topic fast.</font><p>
		</td>
	   </tr>
	   <tr>
	    <td valign="top">&#8226;</td>
		<td>
		 <font size="2" face="verdana, arial, helvetica">Publish, manage and share your online research and access it in one place.</font><p>
		</td>
	   </tr>
	   <tr>
	    <td valign="top">&#8226;</td>
		<td>
		 <font size="2" face="verdana, arial, helvetica">Build great trails and become a recognized expert.</font><p>
		</td>
	   </tr>
	   <tr>
	    <td valign="top">&#8226;</td>
		<td>
		 <font size="2" face="verdana, arial, helvetica">Never search again for what somebody else has found before.</font><p>
		</td>
	   </tr>
	   <tr>
	    <td valign="top">&#8226;</td>
		<td>
		 <font size="2" face="verdana, arial, helvetica">Find a person behind every trail that you can contact to inquire deeper on related subjects.</font><p>
		</td>
	   </tr>
	   <tr>
	    <td valign="top">&#8226;</td>
		<td>
		 <font size="2" face="verdana, arial, helvetica">Join forces with thousands of people that are seeking relevant resources on the same topics like you.</font><p>
		</td>
	   </tr>
	  </table>
	 </td>
	</tr>
   </table>
  </td>
 </tr>
</table>
