  <tr> 
   <td width=420 valign="top">
    {FIRST_FIELD}
	<table border=0 cellpadding=0 cellspacing=0 width=100%>     
	 <tr> 
	  <td>
	   <img src="/img/pixel.gif" height="8"><br>
	  </td>
	 </tr>
	</table>
	{SECOND_FIELD}
	<table border=0 cellpadding=0 cellspacing=0 width=100%>     
	 <tr> 
	  <td>
	   <img src="/img/pixel.gif" height="8"><br>
	  </td>
	 </tr>
	</table>
   </td>
   <td>
	<img src="/img/pixel.gif" border=0 width="6" height="1">
   </td>
   <td width=175 valign="top">
   {IWANTTO}
    <table border=0 cellpadding=0 cellspacing=0 width=100%>
	 <tr bgcolor="#C1E054">
	  <td>
	   <table border=0 cellpadding=2 cellspacing=0>
	    <tr>
		 <td>
		  <font face="verdana, arial, helvetica" size=1><b>&nbsp;WHY LINKTRAIL?</b></font><img src="/img/pixel.gif" height="15" border="0" hspace="0" vspace="0">
		 </td>
		</tr>
	   </table>
	  </td>
	 </tr>
	 <tr>
	  <td valign="top">
	   <img src="/img/line.gif" width="176" height="2"><br>
	  </td>
	 </tr>
	</table>
	<table border=0 cellpadding=3 cellspacing=0 width=100% bgcolor="white">
	<!-----start-----> 
	 <tr>
	  <td width=100%>
	   <font size=1 face="verdana, arial, helvetica">
	   <b>&#183;</b> Find the most relevant resources on any topic fast.<p>
	   <b>&#183;</b> Publish, manage and share your online research and access it in one place.<p>
	   <b>&#183;</b> Build great trails and become a recognized expert.<p>
	   <b>&#183;</b> Never search again for what somebody else has found before.<p>
	   <b>&#183;</b> Find a person behind every trail that you can contact to inquire deeper on related subjects.<p>
	   <b>&#183;</b> Join forces with thousands of people that are seeking relevant resources on the same topics like you.<br>
	   </font>
	  </td>
	 </tr>
	</table><br><p>
	<table border=0 cellpadding=0 cellspacing=0 width=100%>
	 <tr bgcolor="#C1E054">
	  <td>
	   <table border=0 cellpadding=2 cellspacing=0 width="100%">
	    <tr>
		 <td valign=top>
		  <font face="verdana, arial, helvetica" size=1><b>&nbsp;YOUR PRIVACY</b></font><img src="/img/pixel.gif" height="15" border="0" hspace="0" vspace="0">
		 </td>
		</tr>
	   </table>
	  </td>
	 </tr>
	 <tr>
	  <td valign="top">
	   <img src="/img/line.gif" width="176" height="2"><br>
	  </td>
	 </tr>
	</table>
	<table border=0 cellpadding=3 cellspacing=0 width=100% bgcolor="white">
    <!-----start----->
	 <tr>
	  <td>
	   <font size=-2 face="verdana, arial, helvetica">We do not ask you for anything other than a user name, a password and an Email address upon your free registration. We will never sell, rent, loan or give away any personally identifiable information.<p>
	   &#183;<a href="/Help/Privacy">Read our privacy policy.</a><br>
	  </td>
	 </tr>
	</table><br><p>
	<table border=0 cellpadding=0 cellspacing=0 width=100%>
 	 <tr bgcolor="#C1E054">
	  <td>
	   <table border=0 cellpadding=2 cellspacing=0 width="100%">
	    <tr>
		 <td valign=top>
		  <font face="verdana, arial, helvetica" size=1><b>&nbsp;ABOUT LINKTRAIL</b></font><img src="/img/pixel.gif" height="15" border="0" hspace="0" vspace="0">
		 </td>
		</tr>
	   </table>
	  </td>
	 </tr>
	 <tr>
	  <td valign="top">
	   <img src="/img/line.gif" width="100%" height="2"><br>
	  </td>
	 </tr>
	</table>
	<table border=0 cellpadding=3 cellspacing=0 width=100% bgcolor="white">
	<!-----start----->
	 <tr>
	  <td>
	   <font size=-2 face="verdana, arial, helvetica">Linktrail Inc. is a start-up company based in Zurich, Switzerland. Find out more about our company, our philosphy, the team behind your destination for online research - and please consult our current job openings.<p>
	   &#183;<a href="/About/">more about linktrail Inc.</a><br>
	  </td>
	 </tr>
	</table>
   </td>
  </tr>
  <tr>
   <td>
    <img src="/img/pixel.gif" height="8"><br>
   </td>
  </tr>