  <tr> 
   <td width=420 valign="top">
             {EDITFORM}		
	  <table border=0 cellpadding=0 cellspacing=0 width=100%>     
	   <tr> 
	    <td>
		 <img src="/img/pixel.gif" height="8"><br>
		</td>
	   </tr>
	  </table>
	  </td>
	  <td>
	   <img src="/img/pixel.gif" border=0 width="6" height="1">
	  </td>
	  
	  <td width=175 valign="top">
       {IWANTTO}		
	   {SUBNAV}	
		
		
		   
	   <table border=0 cellpadding=0 cellspacing=0 width=100%>
 <tr bgcolor="#C1E054">
  <td>
  <table border=0 cellpadding=2 cellspacing=0>
   <tr>
    <td>
	 <font face="verdana, arial, helvetica" size=1><b>&nbsp;FRIENDS</b></font><img src="/img/pixel.gif" height="15" border="0" hspace="0" vspace="0">
	</td>
   </tr>
  </table>
  </td>
 </tr>
 <tr>
  <td valign="top">
   <img src="/img/line.gif" width="176" height="2"><br>
  </td>
 </tr>
</table>
{FRIENDLIST}
<br>


    
	   	
       
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <img src="/img/pixel.gif" height="8"><br>
	  </td>
	 </tr>
     