	  <a name="messages"></a>
      <table width="420" border="0" cellspacing="0" cellpadding="2" bgcolor="#DCDCDC">
        <tr> 
          <form name="sortform" action="{SORTACTION}">
         <td><font  face="verdana, arial, helvetica" size=2><b>&nbsp;{USERNAME}'s {PAGENAME}</b></font></td>
         <td align="right" class="actionTable"><font size="1" face="verdana, arial, helvetica">sort by:&nbsp;</font><select name="ob" size="1" style="font-size: 11px; font-family: Verdana, Helvetica, Arial, sans-serif;" tabindex="4" onChange="document.sortform.submit();">
            <option value="o"{SELECTED_OB_SENDER}>sender</option>
            <option value="d"{SELECTED_OB_DATE}>date</option>
            </select>&nbsp;
         </td>
        </tr>
          </form>
      </table>
      <table width="420" border="0" cellspacing="0" cellpadding="1" bgcolor="#A4A4A4">
       <tr valign="top"> 
        <td align="center" valign="top"> 
     	  <table width="100%" height="450" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		   <tr valign="top">
            <td valign="top">
			 <table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="#FFFFFF">
              <tr height=16>
               <td align="left" valign="top">&nbsp;</td>
               <td align="left" valign="top"><font size="1" face="verdana, arial, helvetica"><b>{TO_BY}</b></font></td>
               <td valign="top"><font size="1" face="verdana, arial, helvetica"><b>Subject</b></font></td>
	           <td align="left" valign="top"><font size="1" face="verdana, arial, helvetica"><b>Date</b></font></td>
	           <td align="right" valign="top"><font size="1" face="verdana, arial, helvetica"><b>Message/Request</b></font></td>
              </tr>
              {MESSAGES}
             </table>   
            </td>
           </tr>
          </table>
        </td>
       </tr>
       <tr valign="bottom">
        <td valign="bottom">
        {LIMITBOX}
        </td>
       </tr>
      </table>	
