<tr bgcolor="{COLOR}">
 <td colspan="4"><font size="1" face="verdana, arial, helvetica"><b><a href="{FRIENDURL}">{FRIENDNAME}</a> recommends you to subscribe to:</b></font></td>
 <td align="right" nowrap><font size="1" face="verdana, arial, helvetica">[<a href="{YESURL}">Subscribe</a> | <a href="{NOURL}">Cancel</a>]</font></td>
</tr>
<tr bgcolor="{COLOR}">
    <td valign="top"><font size="1" face="verdana, arial, helvetica"><A href="{TRAILURL}" onClick="openIt('{TARGET}');" target="{TARGET}" onMouseOver="window.status='Popup'; return true" onMouseOut="window.status=''; return true;" class="hi"><b>{TRAILNAME}</b></a></font></td>
    <td valign="top"><font size="1" face="verdana, arial, helvetica"><a href="{NODEURL}">{NODENAME}</a></font></td>
    <td valign="top"><font size="1" face="verdana, arial, helvetica">{CHANGEDATE}</font></td>
	<td valign="top">{FLAG_UPDATED}</td>
	<td valign="top">&nbsp;<br><br></td>
</tr>
