<tr bgcolor="{COLOR}">
    <td valign="top"><font size="1" face="verdana, arial, helvetica"><b><a href="{TRAILURL}" onClick="openIt('{TARGET}');" target="{TARGET}" onMouseOver="window.status='Popup'; return true" onMouseOut="window.status=''; return true;">{TRAILNAME}</a></b>{LMARK}</font></td>
    <td valign="middle"><font size="1" face="verdana, arial, helvetica"><a href="{NODEURL}">{NODENAME}</a></font></td>
    <td valign="middle" nowrap><font size="1" face="verdana, arial, helvetica">{CHANGEDATE}</font></td>
	<td valign="middle">{FLAG_UPDATED}</td>
	<td valign="middle">{FLAG_SUBSCRIBED}</td>
</tr>
